<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bulma-dl.css">
  <link rel="stylesheet" href="/rrbp.css">
  <!--script src="https://kit.fontawesome.com/6d1ac8ee49.js" crossorigin="anonymous"></script-->
  <script src="/jquery-3.7.1.min.js"></script>
  <script>
    $(document).ready(function() {
      //alert('xxx');
      $('#tabs li').on('click', function() {
        var tab = $(this).data('tab');
        $('#tabs li').removeClass('is-active');
        $(this).addClass('is-active');
        $('#tab-content p').removeClass('is-active');
        $('p[data-content="' + tab + '"]').addClass('is-active');
      });
    });
  </script>
  <title>rrbp rust rocket budget program</title>
</head>