<!DOCTYPE html>
<html>
{{> base/header}}

<body>
  <!--i class="fa-solid fa-thumbs-up fa-5x"></i-->
  <form action="/auth/login" method="post">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label for="client" css="label">Client:</label>
          <div class="control">
            <input type="number" id="client" name="client" placeholder="Client number" value="{{client}}">
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label for="username" css="label">User:</label>
          <div class="control">
            <input type="text" id="username" name="username" placeholder="User name" value="{{username}}">
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label for="password" css="label">Password:</label>
          <div class="control">
            <input type="password" id="password" name="password" placeholder="Password" value="{{password}}">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
      <input type="submit" class="button is-link" value="Login">
      </div>
      <div class="control">
        <button class="button is-link is-light">Cancel</button>
      </div>
    </div>
  </form>
</body>

</html>